.default {
  width: 200px;
  height: 55px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font);
  overflow: hidden;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  color: var(--default-button-text-color);
  background-color: var(--default-button-bg);
}

.default:hover {
  background-color: var(--default-button-bg-hover);
}

@media (max-width: 477px) {
  .default {
    margin: 0 auto;
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    box-shadow: 0px 4px 8px var(--default-button-bg);
    color: var(--default-button-text-color);
    background-color: var(--default-button-bg);
  }
}
