.product__card {
  padding: 1rem 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
}

.product__card .card__items {
  width: 310px;
  height: 502;
}

.product__card .card__items .item__list__top {
  position: relative;
  width: 280px;
  height: 300px;
  inset: 0px;
  border-radius: 20px;
  margin-bottom: 2rem;
  background-color: var(--pro-card-bg);
}

.product__card .card__items .item__list__top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__card .card__items .item__list__top .heart {
  position: absolute;
  top: 5px;
  right: 10px;
}

.product__card .card__items .item__list__bottom {
  position: relative;
  width: 310px;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.product__card .card__items .item__list__bottom .color {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}

.product__card .card__items .item__list__bottom .color > img {
  width: 38px;
  height: 18px;
  object-fit: cover;
  border-radius: 50px;
}
