.dark__medium {
  width: 200px;
  height: 53px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  overflow: hidden;
  color: var(--white);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  background-color: var(--large-button-bg);
}

.dark__medium:hover {
  background-color: var(--large-button-bg-hover);
}

@media (max-width: 477px) {
  .dark__medium {
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    color: var(--white);
    background-color: var(--large-button-bg);
  }
}
